.cancelled-jobs-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* CancelledJobsScreen.css */

.cancelled-jobs-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #464183; /* Ensure the color is distinct */
  font-size: 2rem; /* Increase font size if needed */
  font-weight: bold; /* Make the heading bold */
}

  
  .cancelled-jobs-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cancelled-jobs-table th,
  .cancelled-jobs-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #000000; /* Add lines between rows */
    border-right: 1px solid #000000; /* Add lines between columns */
  }
  
  .cancelled-jobs-table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 1px solid #000000; /* Ensure the header has lines between columns */
  }
  
  .cancelled-jobs-table td {
    font-size: 0.95rem;
    color: #555;
  }
  
  .cancelled-jobs-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .cancelled-jobs-table tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .cancelled-jobs-table tr:last-child td {
    border-bottom: none; /* Remove the border from the last row */
  }
  
  @media screen and (max-width: 768px) {
    .cancelled-jobs-container {
      padding: 10px;
    }
  
    .cancelled-jobs-table th,
    .cancelled-jobs-table td {
      padding: 10px;
      font-size: 0.85rem;
    }
  
    .cancelled-jobs-container h1 {
      font-size: 1.5rem;
    }
  }
  