.previous-values-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.previous-values-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.previous-values-table th,
.previous-values-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.previous-personal-photo,
.previous-id-front-image,
.previous-id-back-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ff1a1a;
}
