.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #ffffff; /* Added background color */
  font-family: "Arial, sans-serif"; /* Added font family */
  padding-top: 80px; /* Add padding to avoid content being hidden behind the fixed heading */
}

.feedback-heading {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #fff; /* Added text color */
  background-color: #0f540f;
  position: fixed; /* Fix the position at the top */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Make it span the full width */
  z-index: 1000; /* Ensure it stays on top of other elements */
  padding: 16px; /* Add padding for better appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

.feedback-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #555555; /* Added text color */
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #777777; /* Added text color */
}

strong {
  color: #000;
}

.feedback-name,
.feedback-email {
  margin: 0;
  font-style: italic; /* Added font style */
}

@media (min-width: 600px) {
  .feedback-card {
    max-width: 600px;
    margin: 0 auto;
  }
}
