.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #ffffff; /* Added background color */
  font-family: "Arial, sans-serif"; /* Added font family */
  padding-top: 80px; /* Add padding to avoid content being hidden behind the fixed heading */
}

.feedback-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333; /* Added text color */
  margin-bottom: 16px;
  /* show it in center */
  text-align: center;
  margin-bottom: 20px;
}

.feedback-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #555555; /* Added text color */
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #777777; /* Added text color */
}

strong {
  color: #000;
}

.feedback-name,
.feedback-email {
  margin: 0;
  font-style: italic; /* Added font style */
}

@media (min-width: 600px) {
  .feedback-card {
    max-width: 600px;
    margin: 0 auto;
  }
}
